// version 1.0.0
$primary: #0fa6de;

// filter
$filter-border: #d6d6d6;

<<<<<<< HEAD
// left-bar
$point: #5e73c1;

// default color
$white: #ffffff;
$black: #1a1a1a;
=======
// default color
$white: #ffffff;
>>>>>>> 99b48ee8b94c2800e2e471702a062a49b4d62493
$gray: #b5b5b5;
$red: #de5151;

// theme
<<<<<<< HEAD
$light: #7c7786;
$lighter: #f9f9f9;
$lighter2: #efefef;
$lighter3: #adace6;
$star: #ffcf75;
$link: #0fa6de;
$heart: #ff859a;
$disable: #b5b5b5;
=======
$lighter: #f9f9f9;
$lighter2: #efefef;
$light: #7c7786;
$star: #ffcf75;
>>>>>>> 99b48ee8b94c2800e2e471702a062a49b4d62493

// font
$font-default: #1f1f1f;