// version 1.0.0
$primary: #0fa6de;

// filter
$filter-border: #d6d6d6;

// default color
$white: #ffffff;
$gray: #b5b5b5;
$red: #de5151;

// theme
$lighter: #f9f9f9;
$lighter2: #efefef;
$light: #7c7786;
$star: #ffcf75;

// font
$font-default: #1f1f1f;